<form>
  <div class="agregar">
    <div class="agregar_contenedor">
      <select class="agregar_tipo" (change)="tipoOperacion($event)"  [ngClass]="{redfocus: tipo==='egresoOperacion'}">
        <option value="ingresoOperacion" selected>+</option>
        <option value="egresoOperacion">-</option>
      </select>
      <input type="text" class="agregar_descripcion" placeholder="Agregar Descripción" name="descripcionInput" [(ngModel)]="descripcionInput" [ngClass]="{redfocus: tipo==='egresoOperacion'}">
      <input type="number" class="agregar_valor" placeholder="Valor" name="valorInput" [(ngModel)]="valorInput"  [ngClass]="{redfocus: tipo==='egresoOperacion'}">
      <button class="agregar_btn"><i  [ngClass]="{red: tipo==='egresoOperacion'}" class="ion-ios-checkmark-outline" (click)="agregarValor()" ></i></button>
    </div>
  </div>
</form>
